<table>
  <tr>
   <td>
     <p><%= image_tag product.image.tiny %></p>
   </td>
  </tr>
  <tr>
   <td>
     <h4><%= product.name %></h4>
     <p><%= product.description %></p>
   </td>
   <tr>
   <td>Quantity: <%= product.quantity %></td>
   </tr>
   <tr>
    <td>Category: <%= product.category.name %></td>
  </tr>
</table>